<div class="shadow-lg rounded-4 p-5 row">
    <h1>{{character.name}}</h1>
    <div class="d-flex float-right col-12">    
        <div class="float-left col-7" >
            <p class="fs-5">{{character.description}}</p>  
        </div>
        <div class="col-1"></div>

        
    <div class="col-4">
        <div class="card w-100">
            <div class="card-title m-1 mt-2 text-center">
                <h2 style="font-size: 2rem;">{{character.name}}</h2>
            </div>
            <div class="card-img border">
                <img src="{{character.fullIMG_path}}" alt="{{character.name}}"  class="m-2 img-fluid text-center mx-auto d-block card-img-top" style="width: 15rem;">
            </div>
            <div class="card-body">
                <span class="h5">Gioco</span><br>
                <span>{{character.game}}</span> <!-- Crea proprietà -->
                <hr>
                <span class="h5">Data di nascita</span><br>
                <span>{{character.date}}</span> <!-- Crea proprietà -->
                <hr>
                <span class="h5">Altezza</span><br>
                <span>{{character.height}} cm</span>               
            </div> 
        </div> 
    </div>
</div>