<div class="m-5 d-flex float-right bg-primary"> 
    <div class="float-left">
        <p>funziona? LA ACCENDIAMO?</p>  
    </div>
    <div class="float-right d-flex align-items-end bg-secondary">
        <div class="card">
            <div class="card-title">
                <h2 style="font-size: 1.5rem;">Futaba Sakura</h2>
            </div>
            <div class="card-img">
                <img src="{{character.fullIMG_path}}" alt="{{character.name}}" style="width: 12rem;" >
            </div>
        </div> 
    </div> 
</div>
