<header class="p-3 bg-dark text-white">
  
  <div class="container"> 
    <div class="d-flex flex-wrap align-items-center justify-content-center ">
      <hr>
      <!--<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-center">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary">Features</a></li>
      </ul>
       Un giorno...
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Add Character</button>
      </div> -->
    </div>
  </div>
</header>

<app-pgbox class="float-left"></app-pgbox>
